body {
  margin-bottom: 60px;
}
html {
  position: relative;
  min-height: 100%;
}

.navbar-brand {
  color: #ffbe00 !important;
  font-weight: bold;
  padding: 0;
  margin-bottom: -6px;
}
.navbar-brand:hover {
  color: #fff !important;
}
.navbar-brand img {
  height: 44px;
  position: relative;
  top: -4px;
  width: 108px;
  /*left: -34px;*/
}

@font-face {
  font-family: 'icomoon';
  src:  url('graphics/icons/icomoon.eot?39uhkm');
  src:  url('graphics/icons/icomoon.eot?39uhkm#iefix') format('embedded-opentype'),
    url('graphics/icons/icomoon.ttf?39uhkm') format('truetype'),
    url('graphics/icons/icomoon.woff?39uhkm') format('woff'),
    url('graphics/icons/icomoon.svg?39uhkm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-barcode:before {
  content: "\e937";
}
.icon-keyboard:before {
  content: "\e955";
}
.icon-database:before {
  content: "\e964";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-point-right:before {
  content: "\ea04";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}

footer {
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    text-align: center;
    }

.navbar li {
  margin: 0 20px;
}

.lding {
    background: black;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0.5;
    z-index: 1;
}

.lds-css {
    height: 200px;
    width: 200px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
    z-index: 1;
}

.lds-cube {
    position: relative;
}

.lds-cube div {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 10px;
    left: 10px;
    background: #ec0000;
    -webkit-animation: lds-cube 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation: lds-cube 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.lds-cube div:nth-child(2) {
    top: 10px;
    left: 110px;
    background: #e1e1e1;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.lds-cube div:nth-child(3) {
    top: 110px;
    left: 110px;
    background: #0057ff;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.lds-cube div:nth-child(4) {
    top: 110px;
    left: 10px;
    background: #a5a5a5;
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

.lds-cube {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

@keyframes lds-cube {
    0% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes lds-cube {
    0% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

#about-block-page, #reset-search, #about-account-page, #reset-node-address, #abount-account-page-nav, #witnesses-page {
	display: none;
}

#about-block-witness a {
	color: inherit;
}

#auto-clear {
	margin-top: 0.2rem;
}
#auto-clear label {
	margin-top: 0.4rem;
}

#recent-blocks tbody tr.table-new {
	visibility: hidden;
	opacity: 0;
}
#recent-blocks tbody tr.table-success a {
	color: #fff;
}
#recent-blocks tbody tr.table-success td {
	border: 1px solid #8bbf9f;
}
#recent-blocks tbody tr {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.5s linear;
}

.modal-full {
	max-width: 90%;
}

#global-properties .column-max {
	max-width: 230px;
	word-wrap: break-word;
}

#witnesses-table img {
	height: 3.6rem;
	margin-right: 0.3rem;
}
#witnesses-table td h5 {
	line-height: 3.1rem;
}
#witnesses-table tr.table-danger td a {
	color: #fff;
}
#witnesses-table tr .witness-rank {
	font-size: 2.4rem;
	text-align: right;
	padding-right: 1rem;
}

.navbar-nav li a span {
	font-size: 1.1rem;
	line-height: 1.2rem;
}

#about-account td.description {
	/*display: grid;*/
}
#about-account span.badge {
	font-size: 0.9375rem;
	/*text-align: left;*/
	margin-bottom: 0.2rem;
}
#about-account-page .card {
	height: 460px;
	overflow-y: hidden;
}
#about-account-page .card .card-img {
	opacity: 0.3;
	filter: grayscale(100%) blur(1px);
	/*max-height: 380px;*/
}
#about-account-page #profile-image {
	max-height: 12rem;
}

#profile-witness-votes {
	overflow-y: auto;
	width: 100%;
	text-align: left;
}